# Mode S Beast data forwarding service for systemd
# install in /etc/systemd/system

[Unit]
Description=Mode S Beast data forwarder
Documentation=https://github.com/flightaware/beast-splitter
Wants=network.target
After=network.target
BindsTo=dev-beast.device
After=dev-beast.device

[Service]
User=beast
Group=beast
ExecStart=/usr/bin/beast-splitter --serial /dev/beast --listen 30005:R --connect localhost:30104:R
Type=simple
Restart=on-failure
RestartSec=30
