Source: beast-splitter
Section: embedded
Priority: extra
Maintainer: FlightAware Developers <adsb-devs@flightaware.com>
Build-Depends: debhelper(>=10), libboost-system-dev, libboost-program-options-dev, libboost-regex-dev
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware

Package: beast-splitter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mode S Beast data feeder
